---
export interface Props {
	img: string;
	title: string;
	subtitle: string;
	dateStart: string;
	dateEnd: string;
}

const { img, title, subtitle, dateStart, dateEnd } = Astro.props;
---

<div id="main">
	<img src={img} alt="Image description" />
	<div id="content">
		<h3 id="title">
			{title}<br />
			<span id="subtitle">{subtitle}</span>
		</h3>
		<p class="font-mono">{dateStart} → {dateEnd}</p>
	</div>
</div>

<style scoped>
	#main {
		display: flex;
		justify-content: left;
		margin-top: 50px;
		gap: 20px;
	}
	img {
		width: 60px;
		height: 60px;
		border-radius: 20%;
	}
	#title {
		font-size: 20px;
	}
	#subtitle {
		font-size: 18px;
		font-weight: 300;
	}
	h3 {
		margin: 0;
		line-height: 30px;
	}
	.font-mono {
		font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	}
</style>
