---
export interface Props {
  position: string;
  company: string;
  location: string;
  duration: string;
  responsibilities: string[];
}

const { position, company, location, duration, responsibilities } = Astro.props;
---

<div id="main">
  <h1>{company}</h1>
  <h3>{position}</h3>
  <div id="content">
    <h3 id="title">{location}</h3>
    <h3 id="subtitle">{duration}</h3>
    <ul>
      {responsibilities.map((responsibility) => <li>{responsibility}</li>)}
    </ul>
  </div>
</div>

<style scoped>
  #main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    gap: 20px;
  }

  #content {
    background-color: #c9c9c9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #title {
    font-weight: bold;
    color: #333;
  }

  #subtitle {
    font-style: italic;
    color: #555;
  }

  .font-mono {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace;
    color: #666;
  }
</style>
